ORCHESTRATOR_SEED_PHRASE=<random string>
SPOTIFY_SEED_PHRASE=<random string>
TASTE_SEED_PHRASE=<random string>
CONTEXT_SEED_PHRASE=<random string>
DISCOVERY_SEED_PHRASE=<random string>
PLAYLIST_SEED_PHRASE=<random string>

SPOTIFY_CLIENT_ID=<from Spotify Developer Dashboard>
SPOTIFY_CLIENT_SECRET=<from Spotify Developer Dashboard>
SPOTIFY_REDIRECT_URI=http://127.0.0.1:9999/callback
OPENAI_API_KEY=<your key>