# Seed phrases should be highly random and not contain white spaces
# Tip: just hit your keyboard a few times

SPOTIFY_AGENT_SEED_PHRASE=
BLEND_AGENT_SEED_PHRASE=
ORCHESTRATOR_SEED_PHRASE=

# Spotify API
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

# Fetch.ai ASI-1 Mini
ASI1_API_KEY=
